/* usa este fichero para personalizar tus vistas */
.msg {
    font-size: 60%;
}

.scroll-panel-derecho {
    position: relative;
    height: 200px;
    overflow: auto;
}


.scroll-panel-impresoras {
    position: relative;
    height: 600px;
    overflow: auto;
}